Q1)

A database is a organised structural collection of data stored in a system.
SQL is a relational database e=where as a NOSQL is a non relational database.

Q2)

DDl stands for data definition language.This is a command used to describe a component of database and is used to modify the data base objects like Tables,views etc.

Create command is used to create a new table in SQL.
We need to create a table for storing Student information of a particular College. Create syntax would be used.


Alter command is used to add,delet or change the existing column.
In our Student_info table, we want to add a new column for CGPA. The Alter syntax would be as used


Truncate is used to remove all rows from the table but the structure of table still exists.
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is Truncate.

Drop is used to remove an existing table.
If the College Authority wants to change their Database by deleting the Student_info Table.

Q3)

Data manipulation language command in SQL deals with manipulation of data records stored within the database tables.

INSERT is used to insert new data records or rows in the database table.

UPDATE isused to set value of a field or column for a particular record to a new value.

DELETE used to remove one or more rows from the database table.

Q4)

DQL stands for data query language.It is used to fetch data from database. Select statement retrives record from a database table according to clauses that specify criteria.

Q5)

A primary key is used to ensure that data in the specific column is unique. A foreign key is a column or group of column in a relational database table that provides a link between data in two tables.

Q6)

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

ModuleNotFoundError: No module named 'mysql'

Cursor is an object which help execute an object where as execute is used to give command to database.

Q7)

Order of SQL query are:
    FROM
    WHERE
    GROUP BY
    HAVING
    SELECT
    ORDER BY
    LIMIT